.main {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 280px);
  width: 600px;
}

.main::-webkit-scrollbar {
  width: 8px;
  background: #2F2F37;
}

.main::-webkit-scrollbar-thumb {
  background: #8585AD;
}