.main {
    margin: 0;
    padding: 0;
    width: inherit;
}

.image {
    display: block;
    margin: 0 auto;
    width: 480px;
    height: 240px;
    object-position: center;
    object-fit: contain;
}

.name {
    text-align: center;
}

.infoList {
    margin: 0 0 60px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}