.constructor {
    margin: 0;
    padding: 0;
    width: 600px;
}

.constructor__components {
    margin: 80px 0 0 0;
    padding: 20px 0 20px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
}

.constructor__list {
    composes: constructor__components;
    margin: 0;
    padding: 0;
    list-style: none;
    height: calc(100vh - 550px);
    min-height: 80px;
    overflow-y: auto;
}

.constructor__list::-webkit-scrollbar {
    width: 8px;
    background: #2F2F37;
}

.constructor__list::-webkit-scrollbar-thumb {
    background: #8585AD;
}

.order {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 40px;
}

.order__price {
    composes: order;
    gap: 8px;
}