.app {
    background-color: #131316;
    height: 100vh;
    width: 100vw;
    min-width: 1380px;
}

.main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}