.main {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.modal {
    margin: 0;
    padding: 0;
    border: 1px solid rgba(76, 76, 255, 0.2);
    background-color: #1C1C21;
    border-radius: 40px;
    width: 720px;
    min-height: 104px;
    position: relative;
    z-index: 11;
}

.close {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60px;
    right: 40px;
    border: none;
    background-color: inherit;
    transition: 0.6s;
    cursor: pointer;
}

.close:hover {
    opacity: 0.6;
}