.ingridient {
    margin: 24px 0 32px 16px;
    padding: 0;
    width: 272px;
    height: 208px;
    cursor: pointer;
    position: relative;
}

.ingridientIcon {
    margin: 0 auto;
    padding: 0;
    width: 240px;
    display: block;
}

.price {
    margin: 8px auto;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.ingridientName {
    text-align: center;
}